@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?q4bxww');
  src:  url('fonts/icomoon.eot?q4bxww#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?q4bxww') format('truetype'),
    url('fonts/icomoon.woff?q4bxww') format('woff'),
    url('fonts/icomoon.svg?q4bxww#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail-envelope-closed:before {
  content: "\e900";
}
.icon-keyboard_arrow_up:before {
  content: "\e905";
}
.icon-verified:before {
  content: "\e903";
}
.icon-menu:before {
  content: "\e901";
}
.icon-instagram:before {
  content: "\e904";
}
.icon-moon-o:before {
  content: "\e902";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-sun:before {
  content: "\e9d4";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-arrow-right:before {
  content: "\ea34";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin:before {
  content: "\eac9";
}
