@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary: #000;
  --secondary: rgb(24, 24, 27);

  --bullit-color: #4c4949;
  --border: rgba(63, 63, 70, 0.4);
  --title: rgb(244, 244, 245);
  --subtitle: rgb(161, 161, 170);
  --bgHeader: rgb(39, 39, 42);
  --blue: rgb(93, 188, 252);

  --icon-hover: #d4d4d8;
  --container-padding: 4.8rem;
}
.light {
  --primary: rgb(240, 240, 240);
  --secondary: rgb(255, 255, 255);
  --border: rgba(202, 202, 202, 0.518);
  --title: rgb(39, 39, 42);
  --subtitle: rgb(82, 82, 91);
  --bgHeader: rgb(253, 253, 253);
  --blue: rgb(0, 149, 246);
  --icon-hover: #333;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary);
  color: white;
  overflow-x: hidden;
}

.container {
  border: 2px solid var(--border);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--secondary);
  padding: 0 var(--container-padding);
}

.devider {
  border-bottom: 1px solid var(--border);
  margin: 3rem 0;
  width: calc(100% + var(--container-padding) + var(--container-padding));
  margin-left: calc(var(--container-padding) * -1);
}

li {
  list-style: none;
}

a {
  all: unset;
  transition: 0.2s;
}

a:hover {
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
}

button {
  all: unset;
}

button:hover {
  cursor: pointer;
}

button:active {
  scale: 0.9;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
/*Start sections-title */

.sections-title {
  text-align: center;
  color: var(--title);
  width: fit-content;
  margin: auto;
  font-size: 2.1rem;
  padding-bottom: 10px;
  position: relative;
}

.sections-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--blue);
  height: 4px;
  width: 100%;
  transform: scaleX(0);
  transition: all 1s;
  animation: scaleLine 2s infinite;
}

@keyframes scaleLine {
  0% {
    transform: scaleX(0);
  }
  50% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}

@media (max-width: 600px) {
  .sections-title {
    font-size: 1.3rem;
  }
}

/*End sections-title */

::-webkit-scrollbar {
  width: 0.77rem;
}

::-webkit-scrollbar-track {
  border: 7px solid #292c3b;
  box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  background-color: #d4d4d8;
}

::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.ArrowTop {
  background-color: rgb(25, 118, 210, 0.85);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  text-align: center;
  font-size: 1.3rem;
  position: fixed;
  bottom: 2rem;
  right: 3%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: 0.3s;
}
.ArrowTop:hover {
  background-color: rgb(25, 118, 210);
}

@media (max-width: 1000px) {
  .container {
    --container-padding: 1.7rem;
    width: 90%;
    padding: var(--container-padding);
  }

  .devider {
    border-bottom: 1px solid var(--border);

    width: calc(100% + var(--container-padding) + var(--container-padding));
    margin-left: calc(var(--container-padding) * -1);
  }
}

.main-title {
  width: 30%;
  margin: auto;
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  .main-title {
    width: 40%;
    margin: auto;
    margin-bottom: 10px;
  }
  .ArrowTop {
    opacity: 0.4;
  }
  .container {
    width: 98%;
    padding: var(--container-padding);
  }
}
